//regole generali

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Narrow", Arial, sans-serif, Helvetica, sans-serif;
}


a{
    color: black;
}


//layout

.container{
    width: 70%;
    margin: 0 auto;
}

.section-color{
    background-color: black;
}